.chart-btn{
    border: 1px solid #dddddd36;
    background: #ddd4cf96;
    display: inline-block;
}
.tbl-question{
    border: 1px solid silver;
    background-color: #fefefe;
}
.qtn-title{
    border: none;
    height: 59.2px;
    font-weight: 600;
    font-size: x-large;
}
.qtn-button{
    width: 10px;
    border: none;
    height: 58.4px;
}
.container-rel{
    position: relative;
    clear: both;
}
.container-abs {
    position: absolute;
    right: 8px;
    top: 9px;
}
.row-title{
    text-align: center
}
.awr-btn{
    position: absolute;
    right: 94px;
    bottom: 9px;
}
.awr-add{
    border: 1px solid #ccc;
    background-color: rgba(141, 113, 96, 0.3);
    padding: 20px;
}

.awr-add-title{
    background: rgba(141, 113, 96, 0.45);
    margin: 0px;
    border-radius: 10px 10px 0px 0px;
    padding: 15px 10px 5px 10px;
}
.answer{
    border: 1px solid #d6d7d7;
    padding: 10px;
    margin: 10px;
    line-height: 5px;
    background: #fefefe;
}
.btn-awr{
    border: 1px solid #c5d0d6;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 20px;
    font-size: 14px;
    line-height: 1.6;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-awr:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
    background-color:#6c7c7c;
}
.btn-awr:active {
    position:relative;
    top:1px;
}
.container-abs-del{
    position: absolute;
    right: 2px;
    bottom: 2px;
}
.btn-choice{
    max-width: 10px;
}
.poll-qtn-text{
    font-size: large;
}
.poll-qtn-title{

}
.poll-awr-count{
    border-radius: 7px;
    background-color: #ffffffd9;
    width: fit-content;
    padding: 0px 20px;
    margin: -41px 10px 5px 10px;
    font-size: 24px;
    border: 1px solid #b9b2ae;
}
.poll-awr-count-input{
    border-radius: 7px;
    background-color: #ffffffd9;
    width: fit-content;
    padding: 0px 20px;
    margin: -17px 10px -10px 10px;
    font-size: 24px;
    border: 1px solid #b9b2ae;
}
.inline-block{
    margin-top: 3px;
    background-color: #fbfaf9;
    padding: 5px;
    border-radius: 7px;
    padding-left: 80px;
}
.padding-20{
    padding-left: 80px;
    padding-top: 20px;
    font-weight: bold;
    border-top: 3px solid #ddd4cf;

}
.count-title{
    position: absolute;
    border-radius: 7px;
    background-color: #ccc2bd;
    color: #2c2c2cc2;
    width: fit-content;
    padding: 5px 15px;
    font-size: larger;
    margin-top: 15px;
    border: 1px solid #b9b2ae;
}
.modal-dialog{
    margin-top: 200px;
}
.modal-backdrop .in{
    position: unset;
}
.lh-40{
    line-height: 40px;
}
#included-polls{
    border-radius: 10px;
    border: 1px solid #dddddd;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}
.padding-10{
    padding: 10px;
}
.border-bottom{
    border-bottom: 1px solid #dddddd63;
}
.included-div{
    border-radius: 10px;
    background-color: #dddddd36;
    padding: 10px;
}
.main-title-1{
    font-size: 30px;
}
.background-purple{
    background-color: #ddd5d061;
}

